# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp
*.swo
*.egg-info/
*.egg

# Virtual environment
.venv/

# Local database
db.sqlite3

# Environment variables
.env

# Django
*.log
*.pot
*.mo

# IDE / MacOS
.vscode/
.idea/
.DS_Storedb.sqlite3
__pycache__/
*.pyc
