<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "todos/navbar.html" %}
        {% block content %}
        <div class="max-w-xl mx-auto mt-6 flex justify-end">
            <a href="{% url 'addtask' %}"
               class="bg-black text-white px-6 py-2 rounded-lg font-medium hover:bg-gray-800 transition">
                + New Task
            </a>
        </div>
            {% for task in tasks %}
                <div class="max-w-xl mx-auto mt-6 space-y-4">
                        <div class="p-4 bg-white rounded-xl shadow flex justify-between items-center" onclick="window.location.href='{% url 'updatetask' task.id %}'">
                            <div class="flex items-start gap-3">
                                <div>
                                    <p class="{% if task.is_completed %}line-through text-gray-400{% endif %}">
                                        {{ task.name }}
                                    </p>
                                        <form action="{% url 'toggle_task' task.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="checkbox"
                                                   onchange="this.form.submit()"
                                                   {% if task.is_completed %}checked{% endif %}
                                                   class="w-5 h-5 accent-black mt-1">
                                            <p class="text-sm text-gray-500">{{ task.due_date|default:"No due date" }}</p>
                                        </form>
                                </div>
                            </div>
                            <div class="flex gap-2">
                                <a href="{% url 'updatetask' task.id %}"
                                   class="px-3 py-1 bg-gray-800 text-white rounded-lg text-sm">
                                    Edit
                                </a>

                                <form action="{% url 'deletetask' task.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="px-3 py-1 bg-red-600 text-white rounded-lg text-sm">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% empty %}
                        <p class="text-center text-gray-500">No tasks found</p>
                    {% endfor %}
                </div>

        {% endblock %}



</body>
</html>