{% extends "todos/navbar.html" %}

{% block content %}

<!-- Add task button -->
<div class="max-w-xl mx-auto mt-6 flex justify-end">
    <button onclick="openAddModal()"
            class="bg-black text-white px-6 py-2 rounded-lg font-medium hover:bg-gray-800 transition">
        + New Task
    </button>
</div>

<!-- Task List -->
{% for task in tasks %}
<div class="max-w-xl mx-auto mt-6 space-y-4">
    <div class="p-4 bg-white rounded-xl shadow flex justify-between items-center" onclick="openEditModal('{{ task.id }}');">

        <div class="flex items-start gap-3">
            <div>
                <p class="{% if task.is_completed %}line-through text-gray-400{% endif %}">
                    {{ task.name }}
                </p>

                <form action="{% url 'toggle_task' task.id %}" method="post"
                      onclick="event.stopPropagation();">
                    {% csrf_token %}
                    <input type="checkbox"
                           onchange="this.form.submit()"
                           {% if task.is_completed %}checked{% endif %}
                           class="w-4 h-5 accent-black mt-1">
                </form>

                <div class="text-sm text-gray-500">
                    {{ task.due_date|default:"No due date" }}
                    {% if task.is_completed %}
                        <span class="inline-block bg-green-100 text-green-700 px-2 rounded-md text-sm font-medium mt-1 ml-2">
                            Well done! 🎉
                        </span>
                    {% elif task.days_left is not None%}
                        {% if task.days_left > 0 %}
                            <span class="inline-block bg-green-100 text-green-700 px-2 rounded-md text-sm font-medium mt-1 ml-1"> {{ task.days_left }} days remaining</span>
                        {% elif task.days_left == 0 %}
                            <span class="inline-block bg-[#F3E8E2] text-[#6B3E26] px-2 rounded-md text-sm font-medium mt-1 ml-1"> Do it today!</span>
                        {% else %}
                            <span class="inline-block bg-red-100 text-red-700 px-2 rounded-md text-sm font-medium mt-1 ml-1"> Due {{ task.days_left_abs }} days ago 🥶"</span>
                        {% endif %}
                    {% else %}
                        <p class="text-sm text-gray-500">No due date</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex gap-2" onclick="event.stopPropagation();">
            <button onclick="openEditModal('{{ task.id }}')"
                    class="px-3 py-1 bg-gray-800 text-white rounded-lg text-sm">
                Edit
            </button>

            <form action="{% url 'deletetask' task.id %}" method="post">
                {% csrf_token %}
                <button type="submit"
                        class="px-3 py-1 bg-red-600 text-white rounded-lg text-sm">
                    Delete
                </button>
            </form>
        </div>
    </div>
</div>
{% empty %}
<p class="text-center text-gray-500">No tasks found</p>
{% endfor %}

<!-- ADD Task -->
<div id="addModal"
     class="fixed inset-0 bg-black/50 hidden flex items-center justify-center z-50">
    <div class="bg-white rounded-xl w-full max-w-md p-6">
        <h2 class="text-xl font-semibold mb-4">Add Task</h2>

        <form method="post" action="{% url 'addtask' %}">
            {% csrf_token %}
            <div class="flex items-center gap-2">
                <button type="button"
                        class="text-2xl"
                        onclick="openEmojiPicker('task-name-new', this)">
                    😊
                </button>
                {{form.name}}
            </div>
            {{ add_form.as_p }}

            <div class="flex justify-end gap-2 mt-4">
                <button type="button" onclick="closeAddModal()"
                        class="px-4 py-2 bg-gray-200 rounded-lg">
                    Cancel
                </button>
                <button type="submit"
                        class="px-4 py-2 bg-black text-white rounded-lg">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Edit Task -->
{% for task in tasks %}
<div id="editModal-{{ task.id }}"
     class="fixed inset-0 bg-black/50 hidden flex items-center justify-center z-50">
    <div class="bg-white rounded-xl w-full max-w-md p-6">
        <h2 class="text-xl font-semibold mb-4">Edit Task</h2>

        <form method="post" action="{% url 'updatetask' task.id %}">
            {% csrf_token %}
            <div class="flex items-center gap-2">
                <button type="button"
                        class="text-2xl"
                        onclick="openEmojiPicker('task-name-{{ task.id}}', this)">
                    😊
                </button>
            </div>
            {{ task.form.as_p }}

            <div class="flex justify-end gap-2 mt-4">
                <button type="button"
                        onclick="closeEditModal('{{ task.id }}')"
                        class="px-4 py-2 bg-gray-200 rounded-lg">
                    Cancel
                </button>
                <button type="submit"
                        class="px-4 py-2 bg-black text-white rounded-lg">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>
{% endfor %}
<script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@4.6.2/dist/index.min.js"></script>

<script type="module">
import { EmojiButton } from 'https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@4.6.2/dist/index.min.js';

window.pickers = {};

window.openEmojiPicker = function(inputId, button) {
    let input = document.getElementById(inputId);

    // Assign dynamically if input doesn't exist yet
    if (!input) {
        if (inputId === 'task-name-new') {
            input = document.querySelector('form[action="{% url "addtask" %}"] input[name="name"]');
        } else {
            const taskId = inputId.split('-')[2];
            input = document.querySelector(`#editModal-${taskId} input[name="name"]`);
        }
        input.id = inputId;
    }

    if (!window.pickers[inputId]) {
        window.pickers[inputId] = new EmojiButton({ position: 'right-start', zIndex: 9999, rootElement: document.body });
        window.pickers[inputId].on('emoji', emoji => {
            console.log(emoji);
            input.value = emoji.emoji + ' ' + input.value;

        });
    }

    window.pickers[inputId].togglePicker(button);
};

// Modals
window.openAddModal = () => document.getElementById('addModal').classList.remove('hidden');
window.closeAddModal = () => document.getElementById('addModal').classList.add('hidden');
window.openEditModal = id => document.getElementById(`editModal-${id}`).classList.remove('hidden');
window.closeEditModal = id => document.getElementById(`editModal-${id}`).classList.add('hidden');
</script>


{% endblock %}



