{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your DailySuite account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this password reset, you can safely ignore this email. Your password won't be changed.

Your username, in case you've forgotten: {{ user.get_username }}

---
DailySuite - Your Personal Daily Assistant
{% endautoescape %}